html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}

.alert{
    padding:10px;
    background:black;
    color:white;
    border-radius:10px;
    text-align:center;
}
.alert-danger{
    background:red;
    color:white;
}

.wrapper_body{
    display:"flex",
}

.nameproject a{
    padding:10px;
    background:black;
    color:white;
}
.list_tasks{
    width:100%
}
/** Старт шапка **/
.headpage{
    width:100%;
    height:60px;
    background:gray;
    color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.headpage .login{
    padding:10px
}
.headpage  .btnAuth{
    padding:10px
}
/** Конец шапка **/

/** форма входа **/
.wrapper_form_login{
    display: flex;
    justify-content: center;
    margin-top:90px;
}
.wrapper_form_login .formlogin{
    background:gray;
    color:white;
    padding:20px;
    border-radius:10px;
}
.wrapper_form_login .formlogin .inputCards .inputText{
     width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}
.wrapper_form_login .formlogin  .submitForm{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/** конец формы входа **/


/**  **/
.wrapper_project{
   display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: 1024px;
}
.wrapper_project .title_project{
    font-size:24px;
    font-weight:bold;
    width:100%;
}
.wrapper_project .new_task{
    margin-top:10px;
    width:100%;
    margin-bottom:10px;
}
.wrapper_project .new_task a{
    background:green;
    color:white;
    padding:10px;
    border-radius:10px;
}
/**  **/
/**  **/
.div_item_task{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    flex-wrap:wrap;
}
.div_item_task .task_name{
    width:100%;
    font-weight:bold;
}
.div_item_task .task_about{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}
/**  **/

.timer_div{
    margin:auto;
    max-width:800px;
    width:100%;
    background:gray;
    padding:10px;
    margin-top:50px;
    color:white;

}
