{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Мои задачи V 1.1 {% block headparttitle %}{% endblock %}   </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Put your description here.">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% block headpart %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<body>
    <div class="wrapper_body">
        <section id="headpage" class="headpage">
            <div class="login">
                Мои задачи V 1.1
                <div class="menu_project">
                    <a href="/">
                        Все проекты
                    </a>

                </div>
            </div>
            <div class="btnAuth">

                {% if user.is_authenticated %}
                    <p>{{ user.username }}  (<a href="{% url 'change_password' %}">Сменить пароль</a>)  </p>
                    <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}"> Вход</a> /  <a href="{% url 'register' %}"> Регистрация </a>
                {% endif %}
            </div>
        </section>
        {% block content %}{% endblock %}
    </div>

    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });
    </script>
</body>
</html>

