{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Вход {% endblock %}

{% block content %}
    <div>
      <h2>Password Change Successful</h2>
      <p>Your password has been changed successfully. You can now log in with your new password.</p>
      <a href="{% url 'login' %}">Login</a>
    </div>

{% endblock %}

