{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Вход {% endblock %}

{% block content %}

    <div class="wrapper_form_login">
        <h2>Change Password</h2>
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    </div>

{% endblock %}

