{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Вход {% endblock %}

{% block content %}
   <div class="wrapper_form_login">
        Пользователь : <b>{{ user.username }}</b>

    </div>
    <div class="wrapper_form_login">
        Список проектов ( <a href="/project_new">Создать новый проект</a> ) :
        {% for project in projects_for_user %}
            <div class="nameproject">
                 <a href="/projects/{{project.id}}/">{{ project.name }}</a>
            </div>

        {% endfor %}

    </div>

{% endblock %}

