{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Вход {% endblock %}

{% block content %}

    <div class="wrapper_form_login">

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        </form>



    </div>

{% endblock %}

