{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Новый проект {% endblock %}

{% block content %}
    <div class="wrapper_form_login">
          <form class="formlogin" method="post" >
            Создать новый проект
            <div class="titleCards">
                Название
            </div>
            <div class="inputCards">
                <input type="text" value=""
                       required
                       name="name"
                       class="inputText" placeholder="Название нового проекта">
            </div>
            <div class="titleCards">
                Описание проекта
            </div>
              <div class="inputCards">
                <textarea name="description" required></textarea>
            </div>

            <div class="titleCards">
                срок начала
            </div>
            <div class="inputCards">
               <input type="datetime-local" name="start_date" required>
            </div>

            <div class="titleCards">
                срок окончания
            </div>
            <div class="inputCards">
               <input type="datetime-local" name="end_date" required>
            </div>

            <div class="titleCards">
                Пользователи
            </div>

            <div class="inputCards">
                <select class="js-example-basic-multiple" name="users" style="width: 100%" multiple="multiple">
                    {% for userselect in usersquery %}
                        <option value="{{ userselect.id }}">{{ userselect }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if errors %}
                <div class="alert alert-danger">
                    {{ errors }}
                </div>
            {% endif %}
            <input type="submit" class="submitForm" value="Создать запись">
            {% csrf_token %}
          </form>
    </div>
{% endblock %}
