{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Проект / {{project_data.name}}  {% endblock %}

{% block content %}
    <div class="wrapper_project">
        <div class="title_project">
            Название проекта : {{ project_data.name}} /
            <a href="/projects/{{project_data.id}}/edit/">
                редактировать
            </a>

           <form method="post"   action="{% url 'project-delete' pk=project_data.id %}">
            {% csrf_token %}
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="удалить">
           </form>

            </a>

        </div>
         <div class="title_project">
           Дата начала {{ project_data.start_date}}
        </div>
        <div class="title_project">
           Дата завершения {{ project_data.end_date}}
        </div>
        <div class="new_task">
            <a href="/projects/{{project_data.id}}/tasknew/">Создать задачу</a>
        </div>
        <div class="list_tasks">
            {{ project_data.description}}
        </div>
        <div class="list_tasks">
            <div class="task_data">
                Список задач:
            </div>
        </div>
        {% for task_for_project in tasks_for_project %}
            <hr>
            <div class="div_item_task" style="margin-top:40px">
                <div class="task_name">
                    {{task_for_project.name}} / Дата завершения-{{task_for_project.deadline}}
                </div>
                <div class="task_name" style="padding:10px;background:gray;color:white;border-radius:10px">
                     {% if task_for_project.timer_set.last.is_running %}
                        <p>Таймер запущен</p>
                        <a href="/timer/{{task_for_project.id}}/start/">Стоп таймер</a>
                    {% else %}
                        <p>Таймер не запущен</p>
                        <a href="/timer/{{task_for_project.id}}/start/">Старт таймер</a>
                    {% endif %}
                </div>

               <div class="task_users">
                    <b>Отвественный</b>:
                    {% for user in task_for_project.users.all %}
                        {{ user.username }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
               </div>
               <div class="task_about">
                   {{task_for_project.description}}
               </div>
                <div class="task_status">
                    <b>Статус:</b> {{ task_for_project.get_status_display }}
                </div>
                <div style="width:100%; flex-wrap:wrap;display:flex">
                    <br>
                    <a href="/task/{{task_for_project.id}}/edit/">
                        просмотреть или редактировать
                    </a>

                     <form method="post"   action="{% url 'task-delete' pk=task_for_project.id %}" style="margin-left:10px">
                        {% csrf_token %}
                          <input type="hidden" name="_method" value="DELETE">
                          <input type="submit" value="удалить">
                       </form>

                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
