{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Новый проект {% endblock %}

{% block content %}
    <div class="wrapper_form_login">
          <form class="formlogin" method="post" >
            Редактировать проект
            <div class="titleCards">
                Название
            </div>
            <div class="inputCards">
                <input type="text"
                       required
                       name="name"
                       value="{{project_data.name}}"
                       class="inputText" placeholder="Название нового проекта">
            </div>
            <div class="titleCards">
                Описание проекта
            </div>
              <div class="inputCards">
                <textarea name="description" required>{{project_data.description}}</textarea>
            </div>

            <div class="titleCards">
                срок начала
            </div>
            <div class="inputCards">
               <input type="datetime-local" name="start_date"   value="{{ project_data.start_date|date:'Y-m-d\TH:i' }}"  >
            </div>

            <div class="titleCards">
                срок окончания
            </div>
            <div class="inputCards">
               <input type="datetime-local" name="end_date" value="{{ project_data.end_date|date:'Y-m-d\TH:i' }}" >
            </div>

            <div class="titleCards">
                Пользователи
            </div>

            <div class="inputCards">
                <select class="js-example-basic-multiple" name="users" style="width: 100%" multiple="multiple">
                    {% for userselect in usersquery %}
                        <option value="{{ userselect.id }}"
                               {% if userselect in users_in_project %}selected{% endif %}
                        >{{ userselect }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if errors %}
                <div class="alert alert-danger">
                    {{ errors }}
                </div>
            {% endif %}
              <input type="hidden" name="id" value="{{project_data.id}}">
            <input type="submit" class="submitForm" value="Обновить запись">
            {% csrf_token %}
          </form>
    </div>
{% endblock %}

