{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Создать задачу {% endblock %}

{% block content %}
    <div class="wrapper_form_login">
          <form class="formlogin" method="post" >
            Создать новую задачу
            <div class="titleCards">
                Название
            </div>
            <div class="inputCards">
                <input type="text" value=""
                       required
                       name="name"
                       class="inputText" placeholder="Название нового проекта">
            </div>

            <div class="titleCards">
                описание
            </div>
            <div class="inputCards">
                <textarea name="description" required></textarea>
            </div>

            <div class="titleCards">
                срок
            </div>
            <div class="inputCards">
               <input type="datetime-local" name="deadline" required>
            </div>
            <div class="titleCards">
                Статус
            </div>
            <select name="status">
                <option value="in_process">In Process</option>
                <option value="completed">Completed</option>
                <option value="postponed">Postponed</option>
            </select>

            <div class="titleCards">
                Пользователь
            </div>
            <div class="inputCards">
                <select class="js-example-basic-multiple" name="users" style="width: 100%" multiple="multiple">
                    {% for userselect in usersquery %}
                        <option value="{{ userselect.id }}">{{ userselect }}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="hidden" name="project" value="{{project_data.id}}">
            {% csrf_token %}
            <input type="submit" class="submitForm" value="Создать задачу">
          </form>
    </div>
{% endblock %}
